#comments h1{

}

#addComment{
    padding: 10px;
    text-align: left;
}

#addComment h2{
    padding-bottom: 30px;
}

#addComment textarea{
    margin-top: 10px;
}

#addComment button{
    width: 80px;
    padding: 5px auto;
}

#comments section{
    word-wrap: break-word;
    border: 1px solid black;
    margin: 8px 10px
}

#comments section h4{
    padding-left: 5px;
    text-align: left;
    padding: 5px 0;
    font-family: Tahoma;
    margin-bottom: 10px;
}

#comments section p{
    text-indent: 2em;
    text-align: left;
}
