#gallery{
    margin-top: 60px;
    padding: 0;
    text-align: left;
    display: block;
    width: 100%;
    overflow: auto;

}


#gallery h1{
    padding: 5px;
    display: block;
}

#gallery #scroll{
    border: 1px solid black;
    overflow-x: scroll;
    background-color: rgba(0, 0, 0, 0.4);
}

#gallery ul{

    white-space: nowrap;
    float: left;
    margin-right: -999em; /*make elements ignore the line wrapping*/
    list-style: none;
}

#gallery li{
    margin: 15px;
    text-align: center;
    float: left;
    display: inline;
}



#gallery img {
    border:0;
    display: block;
    border: 1px solid black;
    height: 100px;
}

#gallery span{
    display:block;
    padding: 5px 0;
    overflow: hidden;
}

#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
}

#lightbox p{
    text-align: right;
    color: white;
    margin-right: 20px;
    font-size: 12px;
}

#lightbox img{
    max-width: 70%;
}
