#gallery{
    margin-top: 60px;
    padding: 0;
    text-align: left;
    display: block;
    width: 100%;
    overflow: auto;

}


#gallery h1{
    padding: 5px;
    display: block;
}

#gallery #scroll{
    border: 2px solid blue;
    overflow-x: scroll;
}

#gallery ul{

    white-space: nowrap;
    float: left;
    margin-right: -999em; /*make elements ignore the line wrapping*/
    list-style: none;
}

#gallery li{
    margin: 15px;
    text-align: center;
    float: left;
    display: inline;
}



#gallery img {
    border:0;
    display: block;
    border: 1px solid black;
    height: 100px;
}

#gallery span{
    display:block;
    padding: 5px 0;
}
