#home_content{
    overflow: hidden;
    display:block;
}

#main_image img{
    width: 40%;
    float: left;
    border: 2px solid black;
    border-radius: 20px;
}

#top_comment{
    float: right;
    width: 40%;
}
