#home_content{
    overflow: hidden;
    display:block;
}

.quarterblock{/* each block is set up to fit to a corner of the main content */
    width: 48%;
    height: 40%;
    overflow: hidden;
    display: inline-block
}

#main_image img{
    width: 100%;
    float: left;
    border: 2px solid black;
    border-radius: 20px;
}

#top_comment{
    float: right;
    width: 100%;
}
